div(ng-controller='NavBarController')
    nav.navbar.navbar-default.horizontal-gradient(role='navigation')

        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex1-collapse', ng-init='isCollapsed = true', ng-click='isCollapsed = !isCollapsed')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#{ url("home") }', rel='nofollow')
                    i.fa.fa-cloud-download
                    | &nbsp; JobPlus
            #navbar-ex1-collapse.collapse.navbar-collapse(ng-class='{collapse: isCollapsed}')
                ul.nav.navbar-nav.navbar-left
                    li
                        a(href='#{ url("logout") }')
                            i.fa.fa-dashboard
                            | &nbsp; Dashboard

                    li
                        a(href='#{ url("logout") }')
                            i.fa.fa-list
                            | &nbsp; Jobs
                    li
                        a(href='#{ url("logout") }')
                            i.fa.fa-user
                            | &nbsp; People
                    li
                        a(href='#{ url("logout") }')
                            i.fa.fa-building
                            | &nbsp; Companies
                ul.nav.navbar-nav.navbar-right
                    li.button.dropdown(dropdown on-toggle="toggled(open)")
                        a.dropdown-toggle(href='javascript:;', dropdown-toggle)
                            i.fa.fa-globe.fa-spin
                            span.bubble 4
                        ul.dropdown-menu
                            li
                                div.nano.nscroller
                                    div.content
                                        ul.no-list
                                            li
                                                a(href='#')
                                                    i.fa.fa-binoculars.info
                                                    strong Folse Ltd shortlisted you.
                                                span.date 2 minutes ago.
                                            li
                                                a(href='#')
                                                    i.fa.fa-shopping-cart.success
                                                    strong Michael bought your seo service.
                                                span.date 15 minutes ago.
                                            li
                                                a(href='#')
                                                    i.fa.fa-newspaper-o.warning
                                                    strong Joe applied for your job.
                                                span.date 30 minutes ago.
                                ul.foot
                                    li
                                        a(href='#') View all activity


                    li.dropdown(dropdown on-toggle="toggled(closed)")
                        a.dropdown-toggle(href='#', dropdown-toggle)
                            i.fa.fa-cog
                            | &nbsp; Joe Bloggs &nbsp;
                            i.fa.fa-caret-down
                        ul.dropdown-menu
                            li
                                a(href='#{ url("logout") }')
                                    i.fa.fa-home.pull-right
                                    | Profile
                                li.divider
                            li
                                a(href='#{ url("logout") }')
                                    i.fa.fa-money.pull-right
                                    | Billing
                            li.divider
                            li
                                a(href='#')
                                    | Report Issue
                                    i.fa.fa-warning.pull-right
                            li.divider
                            li
                                a(href='#')
                                    i.fa.fa-info-circle.pull-right
                                    | Help
                            li.divider
                            li
                                a(href='#')
                                    | Change Password
                                    i.fa.fa-unlock-alt.pull-right
                            li.divider
                            li
                                a(href='#')
                                    | Advanced Settings
                                    i.fa.fa-cog.fa-gears.pull-right
                            li.divider
                            li
                                a(href='{ url("logout") }')
                                    | Sign Out
                                    i.fa.fa-sign-out.pull-right