.container.ddnks
    .row
        .col-sm-12.col-md-12
            .col-md-2.col-sm-2
                dt Popular Jobs
                    dd
                        a(href='#') IT Jobs
                    dd
                        a(href='#') Teaching Jobs
                    dd
                        a(href='#') Banking Jobs
                    dd
                        a(href='#') Finance Jobs
                    dd
                        a(href='#') Management Jobs
                    dd
                        a(href='#') Marketing Jobs
                    dd
                        a(href='#') Sales Jobs
            .col-md-2.col-sm-2
                dt By Skill
                    dd
                        a(href='#') Painting Jobs
                    dd
                        a(href='#') Cleaning Jobs
                    dd
                        a(href='#') Assistant Jobs
                    dd
                        a(href='#') Childcare Jobs
                    dd
                        a(href='#') Building Jobs
                    dd
                        a(href='#') Driving Jobs

            .col-md-2.col-sm-2
                dt By Type
                    dd
                        a(href='#') Freelance Jobs
                    dd
                        a(href='#') Permanent Jobs
                    dd
                        a(href='#') Government Jobs
                    dd
                        a(href='#') Graduate Jobs
                    dd
                        a(href='#') Part-Time Jobs
                    dd
                        a(href='#') Internship Jobs


                dt By Salary+
                    dd
                        a(href='#') Rs 100,000+ p/m
                    dd
                        a(href='#') Rs 80,000+ p/m
                    dd
                        a(href='#') Rs 60,000+ p/m
                    dd
                        a(href='#') Rs 40,000+ p/m
                    dd
                        a(href='#') Rs 20,000+ p/m
                    dd
                        a(href='#') Rs 10,000+ p/m

            .col-md-2.col-sm-2
                dt By Region
                    dd
                        a(href='#') Jobs in Ebene
                    dd
                        a(href='#') Jobs in Port Louis
                    dd
                        a(href='#') Jobs in Phoenix
                    dd
                        a(href='#') Jobs in Rose-Hill
                    dd
                        a(href='#') Jobs in Quatre-Bornes
                    dd
                        a(href='#') Jobs in Plaisance
                dt Work abroad?
                    dd
                        a(href='#') Jobs in Dubai
                    dd
                        a(href='#') Jobs in South Africa
                    dd
                        a(href='#') Jobs in Australia
                    dd
                        a(href='#') Jobs in USA
                    dd
                        a(href='#') Jobs in UK

            .col-md-2.col-sm-2
                dt Job Seekers
                    dd
                        a(href='#') Work with us
                    dd
                        a(href='#') Career Guides
                    dd
                        a(href='#') CV Generator
                    dd
                        a(href='#') FAQ
                    dd
                        a(href='#{ url("pricing") }') Pricing
                    dd
                        a(href='#{ url("support") }') Support
                dt Recruiters/Agencies
                    dd
                        a(href='#') Advertise with us
                    dd
                        a(href='#') API (in Beta)
                    dd
                        a(href='#') FAQ
                    dd
                        a(href='#{ url("pricing") }') Pricing
                    dd
                        a(href='#{ url("support") }') Support
            .col-md-2.col-sm-2
                dt Company
                    dd
                        a(href='#{ url("about") }') About us
                    dd
                        a(href='#{ url("privacy") }') Privacy Policy
                    dd
                        a(href='#{ url("terms") }') Terms of Service
                    dd
                        a(href='#{ url("security") }') Security &amp; Cookies
                    dd
                        a(href='#{ url("security") }') Sitemap
                dt Connect
                    dd
                        a(href='#') Twitter
                    dd
                        a(href='#') Facebook
                    dd
                        a(href='#') LinkedIn
                    dd
                        a(href='#') Google+
                    dd
                        a(href='#') RSS